
.btn{
    background-color: rgba(224, 211, 211, 0.753);
    font-family: 'retrofont';
    align-self: flex-end;
    margin: 10px;
    font-size: 10pt;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753);
    box-shadow: 2px 2px 0px 0px rgba(80, 78, 78, 0.753);
    
}

.btn:hover{
    background-color:#233db1;
}

/*need to align the buttons*/

.card-title, .card-text{
    text-align: center;
    font-family: 'retrofont';
    font-size: 10pt;
    padding-top: 20px;

}

.buttonlist{
    padding-top: 340px;
    margin-left: 35px;
}

.btnlist{
    display: flex;
    flex: row;
    list-style: none;
}

.card-icon{
    width: 70px;
    padding: 5px;
    margin-left: 35px;
}

.container{
    padding-top: 80px;
}

.container2{
    padding-top: 125px;
}

h1{
    font-family: 'retrofont';
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

h2{
    font-size: 14pt;
    font-family: 'retrofont';
    margin-left: 150px;
}

h4{
    font-size: 8pt;
    color: white;
    background-color: #233db1;
    padding-left: 7px;
    padding: 5px;
    margin: 5px;
    box-shadow: 7px 7px 7px 7px rgba(224, 211, 211, 0.753),
     2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}

.card{
    background-color: rgb(196, 189, 189);
    font-family: 'retrofont';
    font-size: 8pt;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}


#postbar{
    margin-left:75px;
}

.textareadiv{
    position: relative;
   
}

/*This is not working still working on it, because I've put a placeholder
for now for max char but perhaps a fixed one would look better 

.textareadiv ::before{
    content: 'Max 250 characters';
    position: absolute;
    font-family: 'retrofont';
    font-size: 8pt;
    padding: 280px 0px 0px 275px;
    }
*/ 


textarea{
    border: none;
    max-height: 300px;
    max-width: 400px;
   font-family: 'retrofont';
   overflow: hidden;
   display: flex;
   float: left;
   
}


@font-face {
    font-family: 'retrofont';
    src: url('../assets/retrofont.ttf');
}

body{
    background-color: #e6f3fb;
    font-family: 'retrofont';
}


.navbar {
    font-family:'retrofont', Courier, monospace;
    background-color: #233db1;
    height: 50px;
    box-shadow: 3px 3px 3px 3px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);

}

.nav-item > a:hover {
    text-decoration: underline;    
}

.dogelogo{
    height: 45px;
    width: 45px;
    margin: 0 15px 0 0;
}

.post{
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(196, 189, 189);
    font-family: 'retrofont';
    font-size: 8pt;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}
    

.post .btn{
    background-color: rgba(243, 237, 237, 0.753);
    font-family: 'retrofont';
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}