
.btn{
    background-color: rgba(224, 211, 211, 0.753);
    font-family: 'retrofont';
    margin: 10px;
    font-size: 10pt;
    display:flex;
    width: fit-content;
    align-self: flex-end;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753);
    box-shadow: 2px 2px 0px 0px rgba(80, 78, 78, 0.753);
    
}

.btn:hover{
    background-color:#233db1;
}


.doge{
    width: 200px;
    height: 200px;
    float: left;
}

.doge1{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: 200px;
}


/*need to align the buttons*/

.card-title, .card-text{
    text-align: center;
    font-family: 'retrofont';
    padding-top: 20px;
}

.card-text1{
    font-size: 14pt;
    text-align: center;
    padding-top: 15px;
}

.buttonlist{
    padding-top: 340px;
    margin-left: 35px;
}

.card-icon2{
    object-fit: cover;
    height: 15px;
}

.btnlist{
    display: flex;
    flex: row;
    list-style: none;
}

.card-icon{
    width: 70px;
    padding: 5px;
    margin-left: 35px;
}



.card-icon3{
    object-fit: cover;
    height: 80px;
}

.card-icon4{
    transform: rotate(180deg);
    object-fit: cover;
    height: 80px;
}


.container{
    padding-top: 80px;
}

.container2{
    padding-top: 125px;
}

h1{
    font-family: 'retrofont';
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    margin-bottom: 30px;
}

h2{
    font-size: 14pt;
    font-family: 'retrofont';
    text-align: center;
}

h4{
    font-size: 8pt;
    color: white;
    background-color: #233db1;
    padding-left: 7px;
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px rgba(224, 211, 211, 0.753),
     1px 1px 0px 0px rgba(80, 78, 78, 0.753);
}

.secondh4{
    font-size: 10pt;
    color: white;
    background-color: #233db1;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(224, 211, 211, 0.753),
     1px 1px 0px 0px rgba(80, 78, 78, 0.753);
}

h6{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 16pt;
}

.card{
    background-color: rgb(196, 189, 189);
    font-family: 'retrofont';
    box-shadow: 4px 4px 4px 4px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}


#postbar{
    margin-left:75px;
}

.out{
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(224, 211, 211, 0.753),
    4px 4px 0px 0px rgba(80, 78, 78, 0.753);
    margin-bottom: 20px;
    margin-top: 20px;
}

.replyArea{
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(224, 211, 211, 0.753),
    4px 4px 0px 0px rgba(44, 42, 42, 0.753);
    font-size: 12pt;
}

#postbartitle{
    box-shadow: 2px 2px 2px 2px rgba(224, 211, 211, 0.753),
    4px 4px 0px 0px rgba(80, 78, 78, 0.753);
    margin-top: 30px; 
}

/* .textareadiv{
display: flex;
text-align: center;
align-items: center;
width: 1000px;

} */

/*This is not working still working on it, because I've put a placeholder
for now for max char but perhaps a fixed one would look better 

.textareadiv ::before{
    content: 'Max 250 characters';
    position: absolute;
    font-family: 'retrofont';
    font-size: 8pt;
    padding: 280px 0px 0px 275px;
    }
*/ 


textarea{
    border: none;
    font-family: 'retrofont';
    overflow: hidden; 
}

@font-face {
    font-family: 'retrofont';
    src: url('../assets/retrofont.ttf');
}

body{
    background-color: #e6f3fb;
    font-family: 'retrofont';
}


.navbar {
    font-family:'retrofont', Courier, monospace;
    background-color: #233db1;
    height: 50px;
    box-shadow: 3px 3px 3px 3px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);

}

.nav-item > a:hover {
    text-decoration: underline;    
}

.dogelogo{
    height: 45px;
    width: 45px;
    margin: 0 15px 0 0;
}

.post{
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(196, 189, 189);
    font-family: 'retrofont';
    font-size: 8pt;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}
    

.post .btn{
    background-color: rgba(243, 237, 237, 0.753);
    font-family: 'retrofont';
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 5px 5px 5px 5px rgba(224, 211, 211, 0.753),
    2px 2px 0px 0px rgba(80, 78, 78, 0.753);
}

#createPost{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#postbartitle{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.span1{
    display: block;
    min-height: xxx px;
    width:100%;
}

