.btn{
    background-color: rgba(243, 237, 237, 0.753);
    font-family: 'retrofont';
    align-self: flex-end;
}

.card-title, .card-text{
    text-align: center;
    font-family: 'retrofont';
    font-size: 10pt;
    padding-top: 20px;

}

.card-icon{
    width: 50px;
    padding: 5px;
}

.container{
    padding-top: 150px;
}

.container2{
    padding-top: 125px;
}

h1{
    font-family: 'retrofont';
    display: flex;
    justify-content: space-around;
    padding-top: 125px;
}

.card{
    background-color: lightgray;
    font-family: 'retrofont';
    font-size: 8pt;
    
}

@font-face {
    font-family: 'retrofont';
    src: url('./assets/retrofont.ttf');
}

body{
    background-color: #e6f3fb;
}


.navbar {
    font-family:'retrofont', Courier, monospace;
    background-color: #b2cee0;
    height: 50px;
}

.nav-item > a:hover {
    text-decoration: underline;    
}

.dogelogo{
    height: 45px;
    width: 45px;
    margin: 0 15px 0 0;
}