.btn{
    background-color: rgba(216, 212, 212, 0.753);
    font-family: 'retrofont';
}

.card-title, .card-text{
    text-align: center;
    font-family: 'retrofont';
}

.card{
    background-color: lightgray;
    font-family: 'retrofont';
}

@font-face {
    font-family: 'retrofont';
    src: url('./assets/retrofont.ttf');
}

body{
    background-color: #e6f3fb;
}


.navbar {
    font-family:'retrofont', Courier, monospace;
    background-color: #b2cee0;
    height: 50px;
}

.nav-item > a:hover {
    text-decoration: underline;    
}

.dogelogo{
    height: 45px;
    width: 45px;
    margin: 0 15px 0 0;
}